<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	
  <title>Chat 3.0</title>
  <link rel="stylesheet" href="css/chat.css"/> 

  <script src="components/jquery/dist/jquery.min.js" ></script>
  <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="components/angular/angular.min.js"></script>
  <script src="components/angular-resource/angular-resource.js"></script> 
  <script src="components/angular-route/angular-route.js"></script>  
  <script src="js/app.js"></script>
  <script src="js/services/personService.js"></script>
  <script src="js/services/doctorService.js"></script>
  <script src="js/controllers/JoinChat.js"></script>
  <script src="js/controllers/DoctorJoinChat.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/controllers/login.js"></script>
  <script src="js/controllers/ChatCtrl.js"></script>


  <base href="/">

</head>
<body>
	<h1>Matt's Chat</h1>
	
	<div ng-controller="mainCtrl">{{myVar}}</div>
	
	<ng-view></ng-view>
	


</body>
</html>
