<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

    <title>Matt's Chat - User's Page</title>
  <link rel="stylesheet" href="css/chat.css"/> 
  <link href="css/sb-admin.css" rel="stylesheet">  
  <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.css">
  <base href="/">
  

</head>
<body>

  <script src="components/jquery/dist/jquery.min.js" ></script>
  <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="components/angular/angular.min.js"></script>
  <script src="components/angular-resource/angular-resource.js"></script> 
  <script src="components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="components/ui-bootstrap-tpls.min.js"></script>
  <script src="components/angular-cookies/angular-cookies.js"></script>
  <script src="components/angular-modal-service/dst/angular-modal-service.min.js"></script>    

  <script src="js/app.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/config/routes.js"></script>
  <script src="js/controllers/UserFormController.js"></script> 
  <script src="js/controllers/UserMainController.js"></script> 
  <script src="js/controllers/DoctorMainController.js"></script> 
  <script src="js/controllers/ChatCtrl.js"></script>      
  <script src="js/services/localStorage.js"></script>
  <script src="js/services/personService.js"></script>
  <script src="js/services/doctorFactory.js"></script>
  <script src="js/services/UserFactory.js"></script>
  <script src="js/services/socket.js"></script>     

  <h1>Matt's Chat - User!!!</h1>

  <div ng-controller="UserMainController">
     <script type="text/javascript">
        username = '<%- username %>';
        authorization = '<%- authorization %>';
     </script>

    <div class="container">
      <button type="button" class="btn btn-warning" ng-click="disconnect()">Disconnect</button>   
    </div> 

  </div>

     <a ui-sref="doctor">Doctor Main</a><p/>
    <a ui-sref="doctor.chat">Doctor Chat</a><p/>
    <a ui-sref="user.form">User Form</a><p/>
      <ui-view></ui-view>


</body>
</html>
