<div ng-controller="DoctorIndChatController">
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Chat with {{info.partner}} at {{info.clock}} on {{info.date}}
            </h1>
            
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i>I hope you are having a great day!
                </li>
            </ol>
        </div>
      </div>
	  <div class="row" >
          <div class="col-lg-12">
              <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">Chat with {{info.partner}}</h3>
                </div>
                <div class="panel-body">
                  <div ng-repeat="(key, value) in chats">
                  	<p><strong>{{value.name}}: </strong>{{value.text}}</p>
               	  </div>
               </div>
             </div>
        </div>
      </div>
  	</div>  
  </div>
</div>