<!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 

<!-- Inline CSS based on choices in "Settings" tab -->
<style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;} input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched { background-color: #FA787E; }</style>

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div id="form-wrapper" ng-controller="DoctorFormController" >
  <div class="bootstrap-iso">
   <div class="container-fluid">
    <div class="row">
     <div class="col-lg-12">
          <h1 class="page-header">
              Please add your information!
          </h1>
          <ol class="breadcrumb">
              <li class="active">
                  <i class="fa fa-dashboard"></i> Add Information
              </li>
          </ol>
      </div>
    </div>
  <div ng-if="!informationReceived">        
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="fa fa-info-circle"></i>  <strong>{{notice}}</strong>
            </div>
        </div>
    </div>
  </div>
     <div class="row">
     <div class="col-md-6 col-sm-6 col-xs-12">
      <form ng-submit="submit(doc)">
       <div class="form-group ">
        <label class="control-label requiredField" for="last name">
         Last Name
         <span class="asteriskField">
          *
         </span>
        </label>
        <input class="form-control" id="last_name" name="last_name" type="text" ng-model="doc.lastName" required ng-pattern="vldname"/>
       </div>
       <div class="form-group ">
        <label class="control-label requiredField" for="first name">
         First Name
         <span class="asteriskField">
          *
         </span>
        </label>
        <input class="form-control" id="first_name" name="first_name" type="text" ng-model="doc.firstName" required ng-pattern="vldname"/>
       </div>
       <div class="form-group ">
        <label class="control-label" for="first name">
         Middle Name
        </label>
        <input class="form-control" id="middle_name" name="middle_name" type="text" ng-model="doc.middleName" ng-pattern="vldname"/>
       </div>         
       <div class="form-group ">
        <label class="control-label requiredField" for="email">
         Email
         <span class="asteriskField">
          *
         </span>
        </label>
        <input class="form-control" id="email" name="email" type="email" ng-model="doc.email" required ng-pattern="pattern"/>
       </div>

       <div class=" ">
         <div class="form-group">
          <label class="requiredField">
           Fields of expertise
           <span class="asteriskField">
            *
           </span>
          </label>
          <div class="checkbox">
            <label class="checkbox">
              <input name="checkbox" type="checkbox" value="Allergy &amp; Immunology" ng-model="doc.fields['allergy']" ng-required="!checkCheckboxes(doc.fields)"/>          
              Allergy &amp; Immunology
            </label>
          </div>
          <div class="checkbox">          
            <label class="checkbox">
              <input name="checkbox" type="checkbox" value="Cardiology" ng-model="doc.fields['cardio']" ng-required="!checkCheckboxes(doc.fields)"/>          
              Cardiology
            </label>
          </div>

          <div class="checkbox">
            <label class="checkbox">
              <input name="checkbox" type="checkbox" value="Child psychiatry" ng-model="doc.fields['childPsych']" ng-required="!checkCheckboxes(doc.fields)"/>          
              Child psychiatry
            </label>
          </div>
          <div class="checkbox">          
            <label class="checkbox">
              <input name="checkbox" type="checkbox" value="Dermatology" ng-model="doc.fields['derm']" ng-required="!checkCheckboxes(doc.fields)"/>          
              Dermatology
            </label>
          </div>

          <div class="checkbox">
            <label class="checkbox">
              <input name="checkbox" type="checkbox" value="Endocrinology" ng-model="doc.fields['endo']" ng-required="!checkCheckboxes(doc.fields)"/>          
              Endocrinology
            </label>
          </div>
          <div class="checkbox">          
            <label class="checkbox">
              <input name="checkbox" type="checkbox" value="Gastroenterology" ng-model="doc.fields['gastro']" ng-required="!checkCheckboxes(doc.fields)"/>          
              Gastroenterology
            </label>
          </div>

          <div class="checkbox">
            <label class="checkbox">
              <input name="checkbox" type="checkbox" value="Geriatrics" ng-model="doc.fields['geriatrics']" ng-required="!checkCheckboxes(doc.fields)"/>          
              Geriatrics
            </label>
          </div>
          <div class="checkbox">          
            <label class="checkbox">
              <input name="checkbox" type="checkbox" value="OB/GYN" ng-model="doc.fields['obgyn']" ng-required="!checkCheckboxes(doc.fields)"/>          
              OB/GYN
            </label>
          </div>        

          <div class="checkbox">
            <label class="checkbox">
              <input name="checkbox" type="checkbox" value="Infectious diseases" ng-model="doc.fields['infect']" ng-required="!checkCheckboxes(doc.fields)"/>          
              Infectious diseases
            </label>
          </div>

          <div class="checkbox">
            <label class="checkbox">
              <input name="checkbox" type="checkbox" value="Neurology" ng-model="doc.fields['neuro']" ng-required="!checkCheckboxes(doc.fields)"/>          
              Neurology
            </label>
          </div>
          <div class="checkbox">          
            <label class="checkbox">
              <input name="checkbox" type="checkbox" value="Optometry" ng-model="doc.fields['opto']" ng-required="!checkCheckboxes(doc.fields)"/>          
              Optometry
            </label>
          </div>                

          <div class="checkbox">
            <label class="checkbox">
              <input name="checkbox" type="checkbox" value="Orthopaedics" ng-model="doc.fields['ortho']" ng-required="!checkCheckboxes(doc.fields)"/>          
              Orthopaedics
            </label>
          </div>
          <div class="checkbox">          
            <label class="checkbox">
              <input name="checkbox" type="checkbox" value="Pediatrics" ng-model="doc.fields['pediatrics']" ng-required="!checkCheckboxes(doc.fields)"/>          
              Pediatrics
            </label>
          </div>

          <div class="checkbox">
            <label class="checkbox">
              <input name="checkbox" type="checkbox" value="Physical rehabilitation/sports medicine" ng-model="doc.fields['physRehab']" ng-required="!checkCheckboxes(doc.fields)"/>          
              Physical rehabilitation/sports medicine
            </label>
          </div>
          <div class="checkbox">          
            <label class="checkbox">
              <input name="checkbox" type="checkbox" value="Radiology" ng-model="doc.fields['radio']" ng-required="!checkCheckboxes(doc.fields)"/>          
              Radiology
            </label>
          </div>  

          <div class="checkbox">
            <label class="checkbox">
              <input name="checkbox" type="checkbox" value="Urology" ng-model="doc.fields['uro']" ng-required="!checkCheckboxes(doc.fields)"/>          
              Urology
            </label>
          </div>
          <div class="checkbox">          
            <label class="checkbox">
              <input name="checkbox" type="checkbox" value="Other" ng-model="doc.fields['other']" ng-required="!checkCheckboxes(doc.fields)"/>          
              Other
            </label>
          </div>  

          
         </div>
       </div>
       <div class="form-group ">
        <label class="control-label requiredField" for="university">
         University where you were certified as an M.D.
         <span class="asteriskField">
          *
         </span>
        </label>
        <input class="form-control" id="university" name="subject" type="text" ng-model="doc.university" required ng-pattern="vlduni"/>
       </div>
       
       <div class="form-group ">
        <label class="control-label requiredField" for="institutions">
         Please write all hospitals, clinics and organizations with whom you work or volunteer. All work experience you fell necessary is appreciated.
         <span class="asteriskField">
          *
         </span>
        </label>
        <textarea class="form-control" cols="40" id="message" name="message" rows="10" ng-model="doc.work" required ng-pattern="vldtxt"></textarea>
       </div>
       <div class="form-group">
        <div>
         <button class="btn btn-primary " name="submit" type="submit" ng.disabled="doc.$invalid">
<!--                <button class="btn btn-primary " name="submit" type="submit" ng.disabled="!doc.fields || doc.$invalid">
 -->
          Submit
         </button>
        </div>
       </div>
      </form>
     </div>
    </div>
   </div>

  </div>
</div>